<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my first node app</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                    <h1>Serving Usnvjksvfvp Some Mark-Up!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm border">
                One of three columns
            </div>
            <div class="col-sm border">
                Two of three columns
            </div>
            <div class="col-sm border">
                Three of three columns

            </div>
        </div>
    </div>


<!-- scripts -->
<script src="js/main.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>